<#include "header" />
<link rel="stylesheet" type="text/css" href="${themeUri}/dist/css/pay.css" />
<script type="text/javascript">
    $(function(){
        $('#payments dl').click(function(){
            if(!$(this).hasClass('checked')){
                $('#payments dl.checked').removeClass('checked');
                $(this).addClass('checked');
            }
        });
    });

    function doPay(){
        window.location.href = "${siteUrls.getUrl("pay.create", shopId)}?orderId=${order.orderId}&redirect=${redirect}&module=" + $('#payments dl.checked').data('module');
    }
</script>
<div class="wrapper">
  <!-- header start -->
  <div class="header">
    <div class="op lt"><a href="javascript:history.go(-1)"><i class="f20 iconfont">&#xe602;</i></a></div>
    <h2>支付订单</h2>
  </div>
  <!-- header end -->
  <div class="pay">
    <div class="order">
      <dl>
        <dt>订单号：</dt>
        <dd><b class="c555" id="order_id">${order.orderId}</b></dd>
      </dl>
      <dl>
        <dt>金额：</dt>
        <dd class="amount"><i class="f18 cny">¥</i><font class="f18 ml2">${(order.payAmount/100)?string("#.##")}</font></dd>
      </dl>
    </div>
    <div class="payment mt10" id="payments">
      <dl class="checked" data-module="ali">
        <dd class="fr"><a><i class="iconfont">&#xe61a;</i></a></dd>
        <dd class="fl"><i class="iconfont payico-alipay"></i></dd>
        <dd class="desc"><p class="f14">支付宝</p></dd>
      </dl>
      <dl data-module="wechat">
        <dd class="fr"><a><i class="iconfont">&#xe61a;</i></a></dd>
        <dd class="fl"><i class="iconfont payico-weixin"></i></dd>
        <dd class="desc"><p class="f14">微信</p></dd>
      </dl>
    </div>
    <div class="submit mt20"><a class="xauto center" onclick="doPay()">付 款</a></div>
  </div>
</div>
</body>
</html>