<div class="cl"></div>
<!-- 用户登陆框开始 -->
<script type="text/javascript">
    function popLoginbar(callback){
        var login = $('#vdspoploginbar');
        //$.getJSON("/", function(captchaStatus){
            var captchaStatus = {"enabled":0};
            if(captchaStatus.enabled){
                resetCaptcha();
                login.find('.captcha').show();
            }

            var width = login.width(), height = login.height(), left = ($(window).width()-login.outerWidth(true))/2, top = ($(window).height()-login.outerHeight(true))/2;

            $.vdsMasker(true);
            login.show().css({width:0, height:0, left:'50%', top:'50%'}).find('span.vdsfielderr').remove();
            login.animate({width:width, height:height, left:left, top:top}, 'fast').find('.close').on('click', function(){
                $.vdsMasker(false);
                login.hide().find('span.vdsfielderr').remove();
            });
            //登录请求
            login.find('.go').on('click', function(){
                var username = login.find('input[name="username"]'), password = login.find('input[name="password"]'), captcha = login.find('dl.captcha'), btn = this;
                username.vdsFieldChecker({rules:{required:[true, '请输入用户名']}, tipsPos:'fixed'});
                password.vdsFieldChecker({rules:{required:[true, '请输入密码']}, tipsPos:'fixed'});
                if(!captcha.is(':hidden')){
                    captcha.find('input[name="captcha"]').vdsFieldChecker({rules: {required:[true, '请输入验证码']}, tipsPos:'fixed'});
                }
                var formChecker = login.find('form').vdsFormChecker({isSubmit: false});

                if(formChecker){
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        url: "${siteUrls.getUrl("login.recv", shopId)}",
                        beforeSend: function(){$(btn).addClass('disabled').text('正在登陆...').prop('disabled', true)},
                        data: {username:username.val(), password:password.val(), captcha:captcha.find('input[name="captcha"]').val(), stay:login.find('input[name="stay"]').val()},
                        success: function(res){
                            if(res.status == 0){
                                $.vdsMasker(false); login.hide(); viewTopUserbar();
                                if(typeof(callback) === 'function') callback();
                            }else{
                                login.find('p.red').text(res.msg).show().fadeOut(2500, function(){
                                    $(btn).removeClass('disabled').text('登 陆').prop('disabled', false);
                                    resetCaptcha();
                                });
                                if(res.captcha == 'enabled' && captcha.is(':hidden')){
                                    login.find('.captcha').show();
                                    login.css({height:'auto', top:login.position().top - (captcha.outerHeight(true) + login.find('div.captcha').outerHeight(true))});
                                }
                            }
                        }
                    });
                }
            });
        //});
    }

    function resetCaptcha(){
        var container = $('#vdspoploginbar'), src = "api/captcha/image?v=random";
        container.find('.captcha img').attr('src', src.replace('random', Math.random()));
        container.find('input[name="captcha"]').focus();
    }
</script>
<div class="poplogin" id="vdspoploginbar">
  <h2>您尚未登录</h2>
  <p class="f14 red aln-c hide"></p>
  <form>
    <div class="popbody">
      <dl class="username">
        <dt><i class="icon"></i></dt>
        <dd><input name="username" type="text" placeholder="请输入用户名" /></dd>
      </dl>
      <dl class="pwd mt20">
        <dt><i class="icon"></i></dt>
        <dd><input name="password" type="password" id="password" placeholder="请输入密码" /></dd>
      </dl>
      <dl class="captcha mt20 hide">
        <dt><i class="icon"></i></dt>
        <dd><input name="captcha" id="captcha" type="text" placeholder="请输入验证码" /></dd>
      </dl>
      <div class="captcha mt15 hide">
        <a class="fr" onclick="resetCaptcha()"><i class="refresh icon"></i><font>点击刷新</font></a>
        <img src="api/captcha/image" id="captcha-img" />
      </div>
      <div class="ck module mt20 cut">
        <div class="fl"><label><input name="stay" type="checkbox" value="1" /><font class="ml5 c666">一周内自动登录</font></label></div>
        <div class="fr"><a href="retrieve/password.html">忘记密码？</a></div>
      </div>
      <div class="module mt20"><button type="button" class="go radius4">登 陆</button></div>
      <div class="c999 ml10 mt20">您还没有账号？ <a href="user/register.html">快速注册</a></div>
      <a class="close"><i class="icon"></i></a>
    </div>
  </form>
</div>

<!-- 页脚开始 -->
<div class="footer mt20">
  <div class="helpper cut">
    <div class="guarantee radius4 cut">
      <dl>
        <dt><i class="g-1 icon"></i></dt>
        <dt class="mt5">放心购物</dt>
        <dd class="mt5">正品保障，付款安全</dd>
      </dl>
      <span class="sep"></span>
      <dl>
        <dt><i class="g-2 icon"></i></dt>
        <dt class="mt5">闪电发货</dt>
        <dd class="mt5">当日处理，极速配货</dd>
      </dl>
      <span class="sep"></span>
      <dl>
        <dt><i class="g-3 icon"></i></dt>
        <dt class="mt5">退换承诺</dt>
        <dd class="mt5">7日以内，尊享退换</dd>
      </dl>
      <span class="sep"></span>
      <dl>
        <dt><i class="g-4 icon"></i></dt>
        <dt class="mt5">售后无忧</dt>
        <dd class="mt5">贴心服务，快速响应</dd>
      </dl>
      <span class="sep"></span>
      <dl>
        <dt><i class="g-5 icon"></i></dt>
        <dt class="mt5">畅想低价</dt>
        <dd class="mt5">每日促销，折扣不停</dd>
      </dl>
    </div>
    <div class="cl"></div>
    <div class="helpli cut">
      <dl>
        <dt>新手指南</dt>
        <dd><a title="购物流程" href="/?c=help&a=view&id=1">购物流程</a></dd>
        <dd><a title="会员注册" href="/?c=help&a=view&id=2">会员注册</a></dd>
        <dd><a title="订单查询" href="/?c=help&a=view&id=3">订单查询</a></dd>
        <dd><a title="常见问题" href="/?c=help&a=view&id=4">常见问题</a></dd>
      </dl>
      <dl>
        <dt>支付方式</dt>
        <dd><a title="支付宝支付" href="/?c=help&a=view&id=5">支付宝支付</a></dd>
        <dd><a title="余额支付" href="/?c=help&a=view&id=6">余额支付</a></dd>
        <dd><a title="货到付款" href="/?c=help&a=view&id=7">货到付款</a></dd>
      </dl>
      <dl>
        <dt>配送方式</dt>
        <dd><a title="配送范围及运费" href="/?c=help&a=view&id=8">配送范围及运费</a></dd>
        <dd><a title="物流查询与追踪" href="/?c=help&a=view&id=9">物流查询与追踪</a></dd>
        <dd><a title="验货与签收" href="/?c=help&a=view&id=10">验货与签收</a></dd>
      </dl>
      <dl>
        <dt>售后服务</dt>
        <dd><a title="退换货政策" href="/?c=help&a=view&id=11">退换货政策</a></dd>
        <dd><a title="退换货流程" href="/?c=help&a=view&id=12">退换货流程</a></dd>
        <dd><a title="退款说明" href="/?c=help&a=view&id=13">退款说明</a></dd>
        <dd><a title="产品维修" href="/?c=help&a=view&id=14">产品维修</a></dd>
      </dl>
      <div class="qrcode fr"><i class="fl"></i><div class="qrtxt"><h4>官方微信公众号</h4><p class="c999 mt5">扫描二维码，随手关注最新动态</p></div></div>
    </div>
  </div>
  <div class="links radius4 mt20">
    <a href="/">首 页</a>
    |<a href="/">触屏版</a>
    |<a href="http://www.jdroplet.com/">社区论坛</a>
    |<a href="http://www.jdroplet.com/">帮助文档</a>
    |<a href="http://www.jdroplet.com/">相关下载</a>
    |<a href="https://github.com/">Github</a>
  </div>
  <div class="copyright mt10">
    <p>联系邮箱：service@jdroplet.com
      <span class="sep">|</span>QQ交流群：611492232
      <span class="sep">|</span>Copyright © 2018 jDroplet.com 版权所有</p>
  </div>
  <p style="font-size:12px;color:#999;text-align:center;margin:15px 0;">Powered by
    <a target="_blank" href="http://www.jdroplet.com">jDroplet</a>
  </p>
</div>
<!-- 页脚结束 -->
<script type="text/javascript" src="${themeUri}/dist/js/juicer.js"></script>
</body>
</html>