<!-- 通用头部结束 -->
<div class="header">
  <div class="w1100">
    <div class="module cut">
      <div class="logo fl"><a href="/page.html?c=main&a=index"><img alt="jDroplet 商城系统" src="${themeUri}/dist/images/logo.png" border="0" /></a></div>
      <!-- 头部搜索开始 -->
      <div class="top-search fl">
        <form method="get" action="">
          <div class="sf cut"><input class="fl" name="kw" type="text" value="" placeholder="双11提前购，畅想全年最低价" /><button class="fr" type="submit">搜 索</button></div>
        </form>
        <div class="hw mt8">热门搜索：<a href="?kw=iphone">iPhone 7</a><a href="?kw=Nova">Nova</a><a href="?kw=Surface">Surface</a></div>
      </div>
      <!-- 头部搜索结束 -->
      <!-- 头部购物车开始 -->
      <div class="top-cart fr">
        <div class="radius4 mt10"><i class="icon"></i><a href="${siteUrls.getUrl("cart.show", shopId)}" id="cartbar"><font>我的购物车</font>(<b>0</b>)</a></div>
      </div>
      <!-- 头部购物车结束 -->
    </div>
    <div class="module mt20">
      <!-- 导航开始 -->
      <div class="nav">
        <div class="cateth w210 fl" id="cateth">
          <h2>全部商品分类<i class="icon"></i></h2>
          <div class="catebar w210 hide">
            <ul id="catebar">
              <li><a href="/page.html?c=category&a=index&id=1">手机</a></li>
              <li class="haschild">
                <b>&gt;</b><a href="/page.html?c=category&a=index&id=2">电脑</a>
                <div><a href="/page.html?c=category&a=index&id=8">平板电脑</a><a href="/page.html?c=category&a=index&id=7">笔记本</a></div>
              </li>
              <li class="haschild">
                <b>&gt;</b><a href="/page.html?c=category&a=index&id=3">家电</a>
                <div><a href="/page.html?c=category&a=index&id=9">电视</a><a href="/page.html?c=category&a=index&id=14">空调</a></div>
              </li>
              <li><a href="/page.html?c=category&a=index&id=4">汽车用品</a></li>
              <li><a href="/page.html?c=category&a=index&id=5">个护化妆</a></li>
              <li class="haschild">
                <b>&gt;</b><a href="/page.html?c=category&a=index&id=6">珠宝饰品</a>
                <div><a href="/page.html?c=category&a=index&id=11">项链</a><a href="/page.html?c=category&a=index&id=12">手镯</a><a href="/page.html?c=category&a=index&id=13">戒指</a></div>
              </li>
              <li><a href="/page.html?c=category&a=index&id=10">食品酒类</a></li>
            </ul>
          </div>
        </div>
        <div class="cross cut">
          <ul>
            <li><a href="/">首页</a></li>
            <li><a href="http://www.jdroplet.com/"  target="_blank">技术支持</a></li>
          </ul>
        </div>
      </div>
      <!-- 导航结束 -->
    </div>
  </div>
</div>
<!-- 头部结束 -->
