<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>JdropletAPIServlet</servlet-name>
		<servlet-class>jdroplet.app.core.JdropletAPIServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JdropletPageServlet</servlet-name>
		<servlet-class>jdroplet.app.core.JdropletPageServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>proxoolServletConfigurator</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>proxool</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JdropletAPIServlet</servlet-name>
		<url-pattern>*.api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JdropletPageServlet</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>proxool</servlet-name>
		<url-pattern>/jdroplet_proxool/proxool</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
