  <#import "macropager_show" as macro/>
  <#include "header"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>${actiivty.name} <#if lottery??>${lottery.name}</#if> 中奖用户名单
      <small><a class="btn btn-block btn-info btn-xs" href="${siteUrls.getUrl("activity.edit", 0)}?shopId=${shopId}"><i class="fa fa-plus"></i> 添加</a></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="${siteUrls.getUrl("manage.show")}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="${siteUrls.getUrl("activity.list", 1)}?shopId=${shop.id}"> <#if shop??>${shop.name}</#if> 的活动列表</a></li>
        <li><a href="${siteUrls.getUrl("lottery.list", actiivty.id)}"> <#if shop??>${actiivty.name}</#if> 的奖品列表</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="tb_pages" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>id</th>
              <th>用户id - 用户名</th>
              <th>奖品名称</th>
              <th>中奖时间</th>
            </tr>
            </thead>

            <tbody>
            <#assign lus = datas.objects>
            <#assign pageCount = datas.totalRecords / pageSize>
            <#assign dataCmm = datas.totalRecords % pageSize>
            <#if dataCmm != 0>
                <#assign pageCount= pageCount+ 1>
            </#if>
            <#list lus as lu>
            <tr>
              <td>${lu.id}</td>
              <td>${lu.userId} - ${Users.getUser(lu.userId).displayName}</td>
              <td>${lu.name}</td>
              <td>${lu.createTime?datetime}</td>
            </tr>
            </#list>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
        <!-- /.user search form -->
        <@macro.pager pageIndex, pageCount, Formater(siteUrls.getUrl("lotteryuser.list"), activityId)?replace("{1}","{0}") + "?itemId=${itemId}" />
        </div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <#include "footer"/>