<#-- 分页控件-->
<#macro pager _pageIndex _totalPage _pageUrl>
  <#-- 默认起始页 -->
  <#local _startIndex = _pageIndex - 5/>
  <#-- 默认结束页 -->
  <#local _endIndex = 1/>
  <#-- 最后一页 -->
  <#local _lastIndex = _totalPage>
  <#-- 上一页号码 -->
  <#local _preIndex = _pageIndex - 1 />
  <#-- 下一页号码 -->
  <#local _nextIndex = _pageIndex + 1 />

  <#if _startIndex lte 0>
    <#local _startIndex = 1 />
    <#local _endIndex = _startIndex + 9 />
  <#else>
    <#local _endIndex = _startIndex + 9 /> 
  </#if>

  <#if _endIndex gte _totalPage>
    <#local _startIndex = _pageIndex - 5 />
    <#local _endIndex = _totalPage />
    <#if _startIndex gte _totalPage - 9>
      <#local _startIndex = _totalPage - 9/>
    </#if>
    <#if _startIndex lte 0>
      <#local _startIndex = 1 />
    </#if>
  </#if>
    
  <#local _pages=[] />
  <#if _totalPage != 0>
    <#list _startIndex .. _endIndex as _index>
      <#if _pageIndex == _index >
        <#local _pages = _pages + [{"pageNum" : _index ,"url" : Formater(_pageUrl, _index), "current" : true}] />
      <#else>
        <#local _pages = _pages + [{"pageNum" : _index ,"url" : Formater(_pageUrl, _index), "current" : false}] />
      </#if>  
    </#list>
  </#if>
  
  <#local _htmlNoLinkLine>
    <#if _pageIndex != _startIndex>
      <li><a href="${Formater(_pageUrl, 1)}">首页</a></li>
      <li aria-label="Previous"><a href="${Formater(_pageUrl, _preIndex)}"><span aria-hidden="true">&laquo;</span></a></li>
    </#if>

    <#list _pages as page>
      
      <#if page.current?default(false)>
        <li class="active"><a>${page.pageNum}</a></li>
      <#else>
        <li><a href="${page.url}">${page.pageNum}</a></li>
      </#if>
      
    </#list>
    
    <#if _pageIndex != _totalPage>
      <li><a aria-label="Next" href="${Formater(_pageUrl, _nextIndex)}"><span aria-hidden="true">&raquo;</span></a></li>
    </#if>
    <li><a href="${Formater(_pageUrl, _lastIndex)}">末页/共${_totalPage?default(0)}页</a></li>

  </#local>
  <nav>
    <ul class="pagination">
    ${_htmlNoLinkLine}
    </ul>
  </nav>
</#macro>