<#include "header" />
<link rel="stylesheet" type="text/css" href="${themeUri}/dist/css/user.css" />
<script type="text/javascript">
    $(function(){
        preserveSpace('footact');
        countdown();
    });

    function countdown(){
        var obj = $('#countdown');
        if(obj.size() == 0) return false;
        var remaining = parseInt(obj.data('remaining'));
        window.setInterval(function(){
            var _d = 0, _h = 0, _m = 0, _s = 0;
            if(remaining > 0){
                _d = Math.floor(remaining / (60 * 60 * 24));
                _h = Math.floor(remaining / (60 * 60)) - (_d * 24);
                _m = Math.floor(remaining / 60) - (_d * 24 * 60) - (_h * 60);
                _s = Math.floor(remaining) - (_d * 24 * 60 * 60) - (_h * 60 * 60) - (_m * 60);
            }
            if(_m <= 9) _m = '0' + _m;
            if(_s <= 9) _s = '0' + _s;
            obj.find('.remaining').text(_d+'天'+_h+'小时'+_m+'分'+_s+'秒');
            remaining --;
            obj.data('remaining', remaining);
        }, 1000);
    }
</script>
<div class="wrapper" id="wrapper">
  <!-- header start -->
  <div class="header">
    <div class="op lt"><a href="javascript:history.go(-1)"><i class="f20 iconfont">&#xe602;</i></a></div>
    <h2>订单详情</h2>
  </div>
  <!-- header end -->
  <div class="order cut">
    <dl class="countdown mb8 cut" id="countdown" data-remaining="5545">
      <dt><i class="iconfont">&#xe633;</i></dt>
      <dd>
        <p class="c666 mt2">您还有<font class="remaining red">0天0小时0分0秒</font>来付款，超时订单将自动取消</p>
      </dd>
    </dl>
    <div class="blank ptb5 f14 cut">
      <dl class="col"><dt>订单号：</dt><dd>${order.orderId}</dd></dl>
      <dl class="col"><dt>订单状态：</dt><dd><font class="red"><#switch order.status><#case 0>已取消<#break><#case 1>提交订单<#break><#case 4>等待发货<#break><#case 5>等待签收<#break></#switch></font></dd></dl>
      <dl class="col"><dt>下单时间：</dt><dd>${order.createTime?datetime}</dd></dl>
      <dl class="col"><dt>支付方式：</dt><dd>在线支付</dd></dl>
      <dl class="col"><dt>配送方式：</dt><dd>快递</dd></dl>
    </div>
    <dl class="address col mt8">
      <dt><i class="iconfont">&#xe62f;</i></dt>
      <dd class="c666">
        <h4>${contact.userName}<span class="ml10">${contact.phone}</span></h4>
        <p class="mt5">${contact.area} ${contact.address}<br />${contact.code}</p>
      </dd>
    </dl>
    <div class="parcel mt8">
      <ul>
        <#list items as item>
        <li>
          <div class="im"><a href="${siteUrls.getUrl("item.show", item.shopId, item.productId)}"><img alt="${item.name}" src="" /></a></div>
          <div class="info">
            <p class="name"><a href="${siteUrls.getUrl("item.show", item.shopId, item.productId)}">${item.name}</a></p>
            <p class="subtotal mt5 c999">共<b class="q">${item.quantity}</b>件<span class="price ml10"><i class="cny">¥</i>${(item.price * item.quantity / 100)?string("#.##")}</span></p>
          </div>
        </li>
        </#list>
      </ul>
    </div>
    <div class="amount mt8 f14 cut">
      <dl class="col mt10"><dt>商品总计：</dt><dd><i class="cny">¥</i>${(order.totalAmount/100)?string("#.##")}</dd></dl>
      <dl class="col mt10"><dt>运费：</dt><dd><i class="cny">¥</i>0.00</dd></dl>
      <dl class="col total mt10"><dt>订单总额：</dt><dd class="f16"><i class="cny">¥</i>${(order.payAmount/100)?string("#.##")}</dd></dl>
    </div>
  </div>
</div>
<div class="orderact footfixed" id="footact">
  <a class="b2" href="/index.php?m=mobile&c=order&a=cancel&id=422950005995980">取消订单</a>
  <a class="b1" href="${siteUrls.getUrl("pay.show", shopId)}?orderId=${order.orderId}">去付款</a>  </div>
</body>
</html>